# server configuration
HOST=localhost
PORT=3000

# node-postgres configuration
PGUSER=user
PGHOST=localhost
PGPASSWORD=password
PGDATABASE=dbname
PGPORT=5432

# secret JWT token
ACCESS_TOKEN_KEY=yoursecretkey
REFRESH_TOKEN_KEY=yoursecretkeyrefresh

# In second
ACCESS_TOKEN_AGE=1800


#email
SMTP_HOST=smtp.host
SMTP_PORT=2525
SMTP_USER=userrr
SMTP_PASSWORD=password